<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <!-- <link rel="stylesheet" href="style.css"> -->
</head>


<body>
    <header>
        <!-- <img src="./svg/logo-pantheon.svg"> -->
    </header>
    <main>
        <% data.forEach(function(item) { %>
            <% item.arts.forEach(function(artwork) { %>
                <div class="artwork-container">
                    <!-- Hier de afbeelding van het kunstwerk, indien beschikbaar -->
                    <img src="/uploads/<%= artwork.kunstwerk %>.jpg" alt="<%= artwork.kunstwerk %>">
                    <!-- Beschrijving toevoegen -->
                    <div class="artwork-description">
                        <p>Museum: <%= item.museum %></p> 
                        <p>Naam: <%= artwork.kunstwerk %></p>
                        <p>Artiest: <%= artwork.artiest %></p>
                        <p>Jaartal: <%= artwork.jaartal %></p>
                        <br>
                    </div>
                </div>
            <% }); %>
        <% }); %>



        <div class="rating-smileys">
            <form action="/home" method="post" class="rating-form">
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley1.svg" alt="Boos">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley2.svg" alt="Verdrietig">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley3.svg" alt="Neutraal">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley4.svg" alt="Blij">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley5.svg" alt="Heel Blij">
                </button>
            </form>
        </div>


    </main>

    <nav>
        <ul class="navigation">
            <li class="active"><a href="/home"><img src="./svg/painting-nav.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/Group 45.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li><a href="/account"><img src="./svg/account-nav.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>

</html>