<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kunstbeoordeling</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>
    <header>
        <img src="./svg/logo-pantheon.svg">
    </header>
    <main>
        <!-- <div class="artwork-container">
            <img src="/uploads/<%= art._id %>.jpg" alt="<%= art.kunstwerk %>">
            Beschrijving toevoegen
            <div class="artwork-description">
                <p>
                    <%= art.kunstwerk %>
                </p>
                <p>
                    <%= art.museum %>
                </p>
                <p>
                    <%= art.artiest %> -
                    <%= art.jaartal %>
                </p>
            </div>
        </div> -->

        <div class="rating-smileys">
            <form action="/home" method="post" class="rating-form">
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley1.svg" alt="Boos">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley2.svg" alt="Verdrietig">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley3.svg" alt="Neutraal">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley4.svg" alt="Blij">
                </button>
                <button type="submit" class="rating-button">
                    <img class="rating-smiley" src="svg/smiley5.svg" alt="Heel Blij">
                </button>
            </form>
        </div>


        <!-- <img class="rating-smiley" src="svg/smiley1.svg" alt="Boos">
            <img class="rating-smiley" src="svg/smiley2.svg" alt="Verdrietig">
            <img class="rating-smiley" src="svg/smiley3.svg" alt="Neutraal">
            <img class="rating-smiley" src="svg/smiley4.svg" alt="Blij">
            <img class="rating-smiley" src="svg/smiley5.svg" alt="Heel Blij"> -->


    </main>

    <nav>
        <ul class="navigation">
            <li class="active"><a href="/home"><img src="./svg/painting-nav.svg" /><span></span></a></li>
            <li><a href="/likes"><img src="./svg/Group 45.svg" /><span></span></a></li>
            <li><a href="/musea"><img src="./svg/pantheon-nav.svg" /><span></span></a></li>
            <li><a href="/account"><img src="./svg/account-nav.svg" /><span></span></a></li>
        </ul>
    </nav>
</body>

</html>